{% extends 'base.html' %}
{% load static %}

{% block body %}

  <main class="main">

    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">My Recent Achievements</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href='{% url "agent_detail" request.user.username %}' class='btn'>Profile</a></li>
            <li class="current">My Recent Achievements</li>
          </ol>
        </nav>
      </div>
    </div>

    <section id="contact-2" class="contact-2 section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center mb-5" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12">
            <div class="contact-form-wrapper">
                <h2 class="text-center" style='margin-bottom:60px'>My Recent Achievements</h2>
                <div class="row">
                    <div class="col">
                        <div class="certifications-card">
                            <h3 class='text-black mb-5'>My Recent Achievements <b></b> </h3>
                            {% for i in agent.recent_achievements.all %}
                            <div class="cert-item d-flex">
                                <span><h5> {{i.title}}</h5></span>
                                <form method="POST" style='margin-left: auto'>
                                  {% csrf_token %}
                                  <button type="submit" class='btn btn-outline-danger' name='action' value='Remove'>Remove</button>
                                  <input type="hidden" name="recent_achievements_id" value="{{i.id}}">
                                </form>
                            </div><hr>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <form method="POST">
                          {% csrf_token %}
                          {{RecentAchievementsform.as_p}}
                          <button class="btn btn-outline-dark btn-lg w-100">Add</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>

      </div>

    </section>

  </main>

{% endblock body %}